amqp==5.3.1
aniso8601==9.0.1
billiard==4.2.1
blinker==1.9.0
camelot-py==0.11.0
celery==5.4.0
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cryptography==44.0.0
debugpy==1.8.9
distro==1.9.0
docker==7.1.0
et_xmlfile==2.0.0
Flask==3.1.0
flask-marshmallow==1.2.1
Flask-RESTful==0.3.10
flask-swagger-ui==4.11.1
idna==3.10
iniconfig==2.0.0
itsdangerous==2.2.0
Jinja2==3.1.4
kombu==5.4.2
MarkupSafe==3.0.2
marshmallow==3.23.1
numpy==2.1.3
opencv-python==4.10.0.84
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pdfminer.six==20240706
pluggy==1.5.0
prompt_toolkit==3.0.48
psutil==6.1.0
pycparser==2.22
pypdf==5.1.0
pytest==8.3.4
pytest-celery==1.1.3
pytest-docker-tools==3.1.3
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.2
redis==5.2.0
requests==2.32.3
setuptools==75.6.0
six==1.16.0
tabula-py==2.10.0
tabulate==0.9.0
tenacity==9.0.0
tzdata==2024.2
urllib3==2.2.3
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.1.3
